

<form class="" action="/artist/new" method="get">
  <button class="button" type="submit" formaction="/artist/new">Add New Artist</button>
</form>

<form class="" action="/album/new" method="get">
  <button class="button" type="submit" formaction="/album/new">Add New Album</button>
</form>

<form class="" action="/artist" method="get">
  <button class="button" type="submit" formaction="/artist">Show All Artists</button>
</form>


    <table class="info-table" style="width:100%">
      <tr>
        <th>Artist</th>
        <th>Logo</th>
        <th>Album</th>
        <th>Quantity</th>
        <th>Stock Level</th>
        <th>Cost Price</th>
        <th>Sale Price</th>
        <th>Markup %</th>
      </tr>
      <% @albums.each do |album| %>
      <tr>

        <td><a href="/artist/<%= album.artist.id %>"><%= album.artist.name %></td>
        <td><img src= " <%= album.artist.logo %> " alt="" border=3 height=100 width=100></td>
        <td><a href="/artist/<%= album.artist.id %>"><%= album.title %></a></td>
        <td><%= album.quantity %></td>
        <td><%= album.stock_level %></td>
        <td><%= sprintf('%.2f', (album.buy_price/100.to_f)) %></td>
        <td><%= sprintf('%.2f', (album.sell_price/100.to_f)) %></td>
        <td><%= sprintf('%.2f', album.markup) %></td>
      </tr>
      <%end%>
    </table>
