

<form class="" action="/artist/new" method="get">
  <button class="button" type="submit" formaction="/artist/new">Add New Artist</button>
</form>

<form class="" action="/album/new" method="get">
  <button class="button" type="submit" formaction="/album/new">Add New Album</button>
</form>

<form class="" action="/artist" method="get">
  <button class="button" type="submit" formaction="/artist">Show All Artists</button>
</form>


    <table class="info-table" style="width:100%">
      <tr>
        <th>Artist</th>
        <th>Logo</th>
        <th>Album</th>
        <th>Quantity</th>
        <th>Stock Level</th>
        <th>Cost Price</th>
        <th>Sale Price</th>
        <th>Markup %</th>
      </tr>
      <% @albums.each do |album| %>
      <tr>

        <td><a href="/artist/<%= album.artist.id %>"><%= album.artist.name %></td>
        <td><img src= " <%= album.artist.logo %> " alt="" border=3 height=100 width=100></td>
        <td><a href="/artist/<%= album.artist.id %>"><%= album.title %></a></td>
        <td><%= album.quantity %></td>
        <td><%= album.stock_level %></td>
        <td><%= sprintf('%.2f', (album.buy_price/100.to_f)) %></td>
        <td><%= sprintf('%.2f', (album.sell_price/100.to_f)) %></td>
        <td><%= sprintf('%.2f', album.markup) %></td>
      </tr>
      <%end%>
    </table>


    ___________________6666666___________________
    ____________66666__________66666_____________
    _________6666___________________666__________
    _______666__6____________________6_666_______
    _____666_____66_______________666____66______
    ____66_______66666_________66666______666____
    ___66_________6___66_____66___66_______666___
    __66__________66____6666_____66_________666__
    _666___________66__666_66___66___________66__
    _66____________6666_______6666___________666_
    _66___________6666_________6666__________666_
    _66________666_________________666_______666_
    _66_____666______66_______66______666____666_
    _666__666666666666666666666666666666666__66__
    __66_______________6____66______________666__
    ___66______________66___66_____________666___
    ____66______________6__66_____________666____
    _______666___________666___________666_______
    _________6666_________6_________666__________
    ____________66666_____6____66666_____________
    ___________________6666666________________
