<h1>Artists</h1>

<div class="nav-link4">
  <a href="/">Home</a>
</div>

<table class="info-table" style="width:100%">
  <tr>
    <th colspan = 4>Name</th>
    <th colspan = 4>Logo</th>
    <th colspan = 4>Albums</th>
    <th colspan = 4>Edit/Delete</th>
  </tr>
  <% for artist in @artist %>
  <tr>
    <td colspan = 4><a href="/artist/<%= artist.id %>"><%= artist.name %></a></td>
    <td colspan = 4><img src= " <%= artist.logo %> " alt="" border=3 height=100 width=100>
    </td>
    <td colspan = 4>
      <ul>
        <% artist.albums.each do |album| %>
          <li><%= album.title %></li>
          <% end %>
      </ul>
      <a class="nav-link3" href="/album/new">Add New Album</a>
    </td>
    <td><p><a class="nav-link2" href="/artist/<%= artist.id %>/edit">Edit</a>

    </div>
      <form action="/artist/<%= artist.id %>" method="POST">
        <input  type="hidden" name="_method" value="delete" />
        <button class="delete-link" >Delete</button>
      </form>
    </p>
  </tr>
  <% end %>
</table>
