<h1>Edit Existing Album</h1>

<div class="nav-link5">
  <a class="home-button"href="/">Home</a>
</div>

<form action="/album/<%=@album.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="field-group">
    <label for="first-name-field" class="label">Title:</label>
    <div class="field">
      <input
      type="text"
      name="title"
      id="first-name-field"
      value="<%= @album.title %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="artist-selection" class="label">Artist:</label>
    <div class="field">
      <select class ="select" name="artist" id="artist-selection">
        <% @artist.each do |artist| %>
        <option value=<%=artist.id%>><%= artist.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="field-group">
    <label for="last-name-field" class="label">Quantity:</label>
    <div class="field">
      <input
      type="text"
      name="quantity"
      id="quantity"
      value="<%= @album.quantity %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="last-name-field" class="label">Buy Price:</label>
    <div class="field">
      <input
      type="text"
      name="buy_price"
      id="last-name-field"
      value="<%= @album.buy_price %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="last-name-field" class="label">Sell Price:</label>
    <div class="field">
      <input
      type="text"
      name="sell_price"
      id="last-name-field"
      value="<%= @album.sell_price %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="last-name-field" class="label">Genre:</label>
    <div class="field">
      <input
      type="text"
      name="genre"
      id="last-name-field"
      value="<%= @album.genre %>"
      />
    </div>
  </div>

  <div class="field-group">


    <button class="add-link2">Save</button>
  </div>
</form>
